header {
    position: fixed;
    width: 100%;

    .verification {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0e3477;

        .certificate a button {
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 4px;
            background: #fdb724;
            color: white;
            font-size: 18px;
            margin: 10px 0;
        }

        .social-contact ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            column-gap: 40px;
            color: aliceblue;

            .link {
                text-decoration: none;
                color: aliceblue;
                display: flex;
                align-items: center;
                column-gap: 10px;
                font-size: 18px;
                font-weight: bold;
            }

            .link i {
                font-weight: normal;
                font-size: 30px;
            }
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: antiquewhite;

        .image-container {
            margin: 10px 0;
            max-width: 200px;
        }

        .image-container img {
            width: 100%;
        }

        .ul {
            display: flex;
            list-style: none;
            /* column-gap: 5px; */
            padding: 0;
            margin: 0;

            .li {
                position: relative;
                display: grid;
                align-items: center;
                
                .link {
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background: transparent;
                    text-transform: capitalize;
                    font-size: 18px;
                    color: #9cc1e0;
                    padding: 10px;
                    border-radius: 4px;
                    text-wrap: nowrap;
                }
                .link:is(:hover, :focus-within){
                    background-color: #0000009f;
                }
                .link i{
                    transition: all .2s ease-in-out;
                }
                .link:is(:hover, :focus-within) i{
                    transform: rotate(90deg);
                }
                .link span {
                    text-transform: uppercase;
                    .new {
                        width: 40px;
                    }
                }
                .link button{
                    outline: none;
                    border: none;
                    color: white;
                    background: #005faf;
                    font-size: 18px;
                    padding: 10px 20px;
                    display: flex;
                    justify-content: left;
                }
                .ulul {
                    position: absolute;
                    top: 129%;
                    left: 0;
                    display: none;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 10px 5px;
                    margin: 0;
                    list-style: none;
                    background-color: #005faf;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;

                    .link{
                        padding: 5px 50px 5px 10px;
                        color: white;
                        display: block;
                        border-radius: 4px;
                        transition: all .2s ease-in-out;
                    }
                }
            }
            .li:is(:hover, :focus-within) .ulul{
                display: flex;
            }

        }

        .navigation-dropedown i{
            font-size: 38px;
            color: #005faf;
            font-weight: bolder;
        }
    }
}

@media screen and (max-width:700px) {
    header{
        .verification{
            .certificate a button{
                text-wrap: nowrap;
                font-size: 15px;
            }
            .social-contact ul{
                flex-direction: column;
                row-gap: 5px;
            
                .link{
                    font-size: 12px;
                    column-gap: 5px;
                }
                .link i{
                    font-size:20px;
                }
            }
        }

        .navigation{
            .image-container{
                max-width: 150px;
            }
            .ul{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                height: 100vh;
                flex-direction: column;
                background-color: #005faf;
                .li{

                    .link{
                        text-align: left;
                        column-gap: 10px;
                    }
                    .ulul{
                        position: static;
                        border-radius: 0;
                        margin: 5px 6px;
                    }
                    .login{
                        margin: auto;
                    }
                }
                .li a{
                    display: flex;
                    text-decoration: none;
                }
            }
            .ul.open{
                display: block;
            }

        }
    }
}